{% extends "layout.html" %}
{% block title %}Employee{% endblock %}
{% block content %}
    <h1 class="title">Employee</h1>

    <table class="table">
      
      <tr>
        <th>Name:</th>
        <td>{{ employee.name }}</td>
      </tr>
      {% if employee.age %}
      <tr>
        <th>Age:</th>
        <td>{{ employee.age }}</td>
      </tr>
      {% endif %}
      <tr>
        <th>Gender:</th>
        <td>{{ employee.gender }}</td>
      </tr>
      <tr>
        <th>Height:</th>
        <td>{{ employee.height }}</td>
      </tr>
      <tr>
        <th>Weight:</th>
        <td>{{ employee.weight }}</td>
      </tr>
    </table>

    <span class="navbar-item">
      <a class="button is-link" href="{{ url_for('employee_update_page',employee_key=employee_key) }}">Edit Employee</a>
</span>
    
{% endblock %}