{% extends "layout.html" %}
{% block title %}Edit employee{% endblock %}
{% block content %}
    <h1 class="title">Edit employee</h1>

    <form action="" method="post" name="employee_edit">
      <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
          <input type="text" name="name" class="input" required="required"/>
        </div>
      </div>

      {% if 'name' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['name'] }}
        </p>
      {% endif %}

      <div class="field">
        <label for="age" class="label">Age</label>
        <div class="control">
          <input type="number" name="age" class="input"
                 min="{{ min_age }}" max="{{ max_age }}"/>
        </div>
      </div>

      {% if 'age' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['age'] }}
        </p>
      {% endif %}

      <div class="field">
        <label for="gender" class="label">Gender</label>
        <div class="control">
          <input type="text" name="gender" class="input" required="required"/>
        </div>
      </div>

      {% if 'gender' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['gender'] }}
        </p>
      {% endif %}
      
      <div class="field">
        <label for="height" class="label">Height</label>
        <div class="control">
          <input type="number" name="height" class="input" required="required"/>
        </div>
      </div>

      {% if 'height' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['height'] }}
        </p>
      {% endif %}
      
      <div class="field">
        <label for="weight" class="label">Weight</label>
        <div class="control">
          <input type="number" name="weight" class="input" required="required"/>
        </div>
      </div>

      {% if 'weight' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['weight'] }}
        </p>
      {% endif %}
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}