{% extends "layout.html" %}
{% block title %}Jobtitle{% endblock %}
{% block content %}
    <h1 class="title">Jobtitle</h1>

    <table class="table">
      <tr>
        <th>Title:</th>
        <td>{{ jobtitle.title }}</td>
      </tr>
      <tr>
        <th>Executive:</th>
        <td>{{ jobtitle.is_executive }}</td>
      </tr>
      <tr>
        <th>Department:</th>
        <td>{{ jobtitle.department }}</td>
      </tr>
      <tr>
        <th>Active:</th>
        <td>{{ jobtitle.is_active }}</td>
      </tr>
      <tr>
        <th>Can be hired?:</th>
        <td>{{ jobtitle.to_be_hired }}</td>
      </tr>
    </table>
    <span class="navbar-item">
      <a class="button is-link" href="{{ url_for('jobtitle_update_page',jobtitle_key=jobtitle_key) }}">Edit Jobtitle</a>
</span> 
{% endblock %}