{% extends "layout.html" %}
{% block title %}Edit jobtitle{% endblock %}
{% block content %}
    <h1 class="title">Edit jobtitle</h1>

    <form action="" method="post" name="jobtitle_edit">
      <div class="field">
        <label for="title" class="label">Job Title</label>
        <div class="control">
          <input type="text" name="title" class="input" required="required"/>
        </div>
      </div>

      {% if 'title' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['title'] }}
        </p>
        {% endif %}

      <div class="field">
        <label for="is_executive" class="label">Is Executive?</label>
        <div class="control">
          <input type="radio" name="is_executive" value="true"> Yes <br>
          <input type="radio" name="is_executive" value="false"> No
        </div>
      </div>  


      <div class="field">
         <label for="department" class="label">Department</label>
         <div class="control">
           <input type="text" name="department" value="Enter the department" required="required"/>
         </div>
      </div>

      <div class="field">
        <label for="is_active" class="label">Is Active?</label>
        <div class="control">
          <input type="radio" name="is_active" value="true"> Yes <br>
          <input type="radio" name="is_active" value="false"> No
        </div>
      </div>  

      <div class="field">
        <label for="to_be_hired" class="label">Is there any empty position?</label>
        <div class="control">
          <input type="radio" name="to_be_hired" value="true"> Yes <br>
          <input type="radio" name="to_be_hired" value="false"> No
        </div>
      </div>  

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}