<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ITUCSDB1916 EmployeeDB - {% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>
  <body>
    <header>
        <nav class="navbar" aria-label="main navigation">
            <div class="navbar-brand">
                <span class="navbar-item">
                <a class="button is-link" href="{{ url_for('home_page') }}">Home</a>
                </span>
                <span class="navbar-item">
                <a class="button is-link" href="{{ url_for('list_page') }}">List Employees</a>
                </span>
                <span class="navbar-item">
                        <a class="button is-link" href="{{ url_for('employee_add_page') }}">Add employee</a>
                </span>
                <span class="navbar-item">
                  <a class="button is-link" href="{{ url_for('list_jobtitles') }}">List Job Titles</a>
                  </span>
                  <span class="navbar-item">
                          <a class="button is-link" href="{{ url_for('jobtitle_add_page') }}">Add job title</a>
                  </span>
                  <span class="navbar-item">
                    <a class="button is-link" href="{{ url_for('list_levels') }}">List Levels</a>
                    </span>
                    <span class="navbar-item">
                            <a class="button is-link" href="{{ url_for('level_add_page') }}">Add level</a>
                    </span>
                    <span class="navbar-item">
                        <a class="button is-link" href="{{ url_for('list_services') }}">List Services</a>
                        </span>
                        <span class="navbar-item">
                                <a class="button is-link" href="{{ url_for('service_add_page') }}">Add service</a>
                        </span>
                        <span class="navbar-item">
                                <a class="button is-link" href="{{ url_for('list_workchart') }}">List Workchart</a>
                        </span>
                        <span class="navbar-item">
                                <a class="button is-link" href="{{ url_for('workchart_add_page') }}">Add workchart</a>
                        </span>
                        <span class="navbar-item">
                                <a class="button is-link" href="{{ url_for('list_transportation') }}">List Transportation</a>
                        </span>
                        <span class="navbar-item">
                                <a class="button is-link" href="{{ url_for('transportation_add_page') }}">Add Transportation</a>
                        </span>
            </div>
        </nav>
    </header>

    <main>
        <section class="section">
            <div class="content">
    {% block content %}{% endblock %}
            </div>
        </section>
    </main>

    <footer class="footer">
            <div class="content">
      <small>&copy; 2019, Sinem Elif Haseki & Hakan Sarac</small>
      </div>
    </footer>
  </body>
</html>