{% extends "layout.html" %}
{% block title %}Edit level{% endblock %}
{% block content %}
    <h1 class="title">Edit level</h1>

    <form action="" method="post" name="level_edit">
      <div class="field">
        <label for="title" class="label">Level</label>
        <div class="control">
          <input type="text" name="title" class="input" required="required"/>
        </div>
      </div>

      {% if 'title' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['title'] }}
        </p>
        {% endif %}

      <div class="field">
        <label for="experience" class="label">Experience</label>
        <div class="control">
          <input type="number" name="experience" class="input" required="required"/>
        </div>
      </div>

      
      <div class="field">
         <label for="bonus_salary" class="label">Bonus Salary</label>
         <div class="control">
           <input type="number" name="bonus_salary" class="input" required="required"/>
         </div>
      </div>
  
      <div class="field">
        <label for="is_director" class="label">Is Director?</label>
        <div class="control">
          <input type="radio" name="is_director" value="true"> Yes <br>
          <input type="radio" name="is_director" value="false"> No
        </div>
      </div>


      <div class="field">
        <label for="is_manager" class="label">Is Manager?</label>
        <div class="control">
          <input type="radio" name="is_manager" value="true"> Yes <br>
          <input type="radio" name="is_manager" value="false"> No
        </div>
      </div>


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}