{% extends "layout.html" %}
{% block title %}Level{% endblock %}
{% block content %}
    <h1 class="title">Level</h1>

    <table class="table">
      <tr>
        <th>Level:</th>
        <td>{{ level.title }}</td>
      </tr>
      <tr>
        <th>Experience:</th>
        <td>{{ level.experience }}</td>
      </tr>
      <tr>
        <th>Bonus Salary:</th>
        <td>{{ level.bonus_salary }}</td>
      </tr>
      <tr>
        <th>Director:</th>
        <td>{{ level.is_director }}</td>
      </tr>
      <tr>
        <th>Manager:</th>
        <td>{{ level.is_manager }}</td>
      </tr>
    </table>
    <span class="navbar-item">
      <a class="button is-link" href="{{ url_for('level_update_page',level_key=level_key) }}">Edit Level</a>
</span>
{% endblock %}