{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>WELCOME TO EmployeeDB</h1>
    <p>List of current services:</p>
    
    {% if services %}
    <form action="" method="post" name="service_list">
    <table class="table is-striped is-fullwidth">
      {% for service_key, service in services %}
      <tr>
        <td>
            {% if current_user.is_admin %}
            <label class="checkbox">
                <input type="checkbox" name="service_keys" value="{{ service_key }}"/>
              </label>
              {% endif %}
          <a href="{{ url_for('service_page', service_key=service_key) }}">
              {{ service.town }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% if current_user.is_admin %}
    <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small">Delete</button>
        </div>
      </div>
      {% endif %}
    </form>
    {% endif %}
{% endblock %}